.SearchTweet {
  width: 900px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.contentDataId {
  height: 250px;
  width: 32%;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 2px;
}

.detailTable {
  display: flex;
}

.DetailShowCode {
  height: 350px;
}
