.mypagemain {
  width: 600px;
  height: 150px;
  text-align: center;
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  background-color: white;
}

.profile-image img {
  border-radius: 50px;
  border: 2px solid #DCDCDC;
}

.profile-content {
  width: 450px;
  margin-top: 10px;
  display: flex;
}

.profile-content p {
  font-size: 30px;
  margin-top: 10px;
}
.profile-content button{
  height: 30px;
  margin-top: 20px;
}

.tweet_follow_info {
  display: flex;
}

.tweet_follow_info p{
  margin: 0  70px;
}

.tweet_contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.mytweet {
  height: 250px;
  width: 32%;
  border: solid;
  margin-bottom: 2px;
  position: relative;
}

.mytweet span{
  position:absolute;
  height: 250px;
  width: 192px;
  right: 0;
  background-color: rgba(0,0,0,0.1);
}

.mytweet img{
  position: relative;
  height: 250px;
  width: 192px;
}

.graph {
  display: flex;
  flex-wrap: wrap;
}
