.my-content {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  background-color: white;
}

.recomend-user {
  height: 200px;
  width: 300px;
  margin-top: 20px;
  background-color: white;
}

.recomend-user-table{
  display: flex;
  justify-content: space-around;
}

.recomend-user-image {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #DCDCDC;
}

.tweet_inear {
  display: flex;
}

.tweet {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tweet_user {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

.tweet_user img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 2px solid #DCDCDC;
}

.user-name {
  margin: 10px 10px 0;
}

.tweet_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.tweet-item-home {
  width: 500px;
  height: 100%;
  margin-top: 20px;
  background-color: white;
}

.show_tweet_info {
  display: flex;
}

.show_tweet_info table{
  margin-left: 20px;
}

.tweet_code_image {
  height: 200px;
  width: 300px;
  border: 1px solid #ccc;
}

.button {
  display: flex;
  padding: 10px;
}

.button svg{
  margin: 0 10px;
  padding-left: 10px
}

.num_like_unlike {
  display: flex;
  margin-bottom: 5px;
  padding-left: 10px
}


.tw_followb {
    text-decoration: none;
    background-image: linear-gradient(#fff,#f5f8fa);
    border: 0.5px solid #e6ecf0;
    border-radius: 2px;
    color: #393e42;
    cursor: pointer;
    display: inline-block;
    font-size: 4px;
    font-weight: bold;
    padding: 4px 7px;
    position: relative;
 }

.tw_followb .fa-user-plus{
  color: #1da1f3;
}

.tw_followb:hover{
    background-color: #e6ecf0;
    background-image: linear-gradient(#fff,#e6ecf0);
    border-color: #e6ecf0;
}

.tippy-user-info {
  border-radius: 3px;
}


.tippy-header {
  display: flex;
  justify-content: space-around;
}

.tippy-selfinfo {
  text-align: center;
}

.tippy-user-image {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #DCDCDC;
}

.app-user-info {
  margin: 10px;
  display: flex;
  font-size: 0.7rem;
  justify-content:  space-between;
}

.comment-erea {
  display: flex;
  margin-left: 10px;
}

.comment-user-image {
  border-radius: 50px;
  border: 2px solid #DCDCDC;
}

hr {
  margin: 10px 0 10px;
  border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.comment-input {
  width: 99%;
  height: 30px;
  border:none;
  outline: 0;
}

.comment-form {
  margin-bottom: 10px;
}
